<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.github.zenolab124.monet.monet-routine-runner</string>
	<key>CFBundleName</key>
	<string>Monet Routine Runner</string>
	<key>CFBundleDisplayName</key>
	<string>Monet Routine Runner</string>
	<key>CFBundleExecutable</key>
	<string>monet-routine-runner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Scheduled routines use Apple Events to run user-configured automation tasks.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Scheduled routines connect to local services explicitly configured by the user.</string>
</dict>
</plist>
